<div class="container-fluid" style="margin-bottom: 50px">
    <div class="row" style="background-color:#00a671; color: white">
        <div class="col-sm-12" style="margin-top: 10px">
            <p class="text-center">活动列表</p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="thumbnail">
            <div class="caption" contenteditable="true">
                <h3>改进型哈佛结构</h3>

                <p>改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。</p>

                <p><a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a></p>
            </div>
        </div>
    </div>
</div>