<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#00a671; color: white;">
        <div class="row">
            <span class="col-xs-3" ui-sref="index.listproduct">返回</span>
            <span class="col-xs-6 text-center">产品明细</span>
            <span class="col-xs-3 text-right" ui-sref="index.listsowing">播种列表</span>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-bottom: 50px;">

    <div id="mycarousel" class="row carousel slide"
         data-ride="carousel" ng-show="bannerList.length!=0">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" ng-repeat="banner in bannerList" data-slide-to="{{$index}}"
                ng-class="{'active':$index==0}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div ng-repeat="banner in bannerList" ng-class="{'item active':$index==0,'item':$index!=0}">
                <img class="img img-responsive" ng-src="{{banner.IMGPATH}}" title="{{banner.TITLE}}" width="100%"
                     height="50%"/>

            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel();
    </script>

    <div class=" row" style="margin-top: 10px;">
        <div class="thumbnail" style="background-color:#ffffff">
            <div class="caption">
                <h3 class="clearfix" style="margin-top: 0px;"><span>{{product.ITEMDESC}}</span>
                            <span class="pull-right" style="font-size: small">
                                <span style="color:#999999">{{product.BUILDTIME|timeSec2Mis|date:"yyyy-MM-dd"}}</span>
                            </span>
                </h3>

                <div class="clearfix">
                    <span class="pull-left">
                        <span style="color:#999999">批次号:</span>
                        <span style="color:#666666">{{product.PRODUCTID}}</span>
                    </span>
                </div>
                <div class="clearfix">
                    <span class="pull-left">
                        <span style="color:#999999">产量:</span>
                         <span style="color:#666666">{{product.REALWEIGHT}}吨</span>
                    </span>
                    <span class="pull-right">
                        <span style="color:#999999">面积:</span>
                         <span style="color:#666666">{{product.QUANTITY}}亩</span>
                    </span>
                </div>
                <div class="clearfix">
                    <span class="pull-left">
                        <span style="color:#999999">地块:</span>
                        <span style="color:#666666">{{product.LOCNAME}}</span>
                    </span>
                </div>
                <div class="clearfix">
                    <span class="pull-left">
                        <span style="color:#999999">备注:</span>
                        <span style="color:#666666">{{product.MEMO}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-success">
        <span class="text-success text-center">产品图文详情</span>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="article in articleList">
            <img ng-src="{{article.PICPATH}}" title="{{article.TITLE}}" class="img img-responsive"
                 width="100%">

            <p class="text-center text-center">{{article.CONTENT|deCode64}}</p>
        </div>
    </div>
</div>