<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="background-color:#00a671; color: white">
        <div class="row">
            <span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
                class="col-xs-6 text-center">我的粉丝</span><span
                class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-bottom: 50px;background-color:#f7f7f7">
    <div class="row" ng-repeat="interest in userinterestList">
        <div class="thumbnail" style="background-color:#ffffff">
            <div class="caption">
                <div class="media"
                     style="margin-bottom: 10px;background-color:#ffffff">
                    <a class="pull-left" href="javascript: void (0);">
                        <img class="media-object" ng-src="{{'HEADIMGURL'|toStrFrom:interest.USERINFO}}"
                             style="width: 100px!important; height: 100px!important;"/>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading clearfix">
                            <span class="pull-left">{{'REALNAME'|toStrFrom:interest.USERINFO}}</span>
                            <span class="pull-right">{{interest.SUBSCRIBETIME|timeSec2Mis|date:'yyyy-MM-dd'}}</span>
                        </h4>

                        <p>{{interest.REMARK}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
