<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="background-color:#00a671; color: white">
        <div class="row">
            <span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
                class="col-xs-6 text-center">邀请好友</span><span
                class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-search">
                        <input class="input-medium search-query" type="text"/>
                        <button type="submit" class="btn">查找</button>
                    </form>
                    <div class="clearfix" style="padding-bottom: 20px; padding-top: 20px;">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="./img/newsAnnunciate/banner.png" width="65" height="65"
                                 style="vertical-align: middle;display: inline-block; border-radius: 50%; cursor: pointer;"
                                 alt="媒体对象">
                        </a>

                        <div class="pull-left" style="width: 41%;margin-left: 10px;">
                            <h4 class="">小草</h4>
                        </div>
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox"> 请打勾
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>
                        请选择要邀请的好友
                    </h3>

                    <div class="clearfix" style="padding-bottom: 20px; padding-top: 20px;">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="./img/newsAnnunciate/banner.png" width="65" height="65"
                                 style="vertical-align: middle;display: inline-block; border-radius: 50%; cursor: pointer;"
                                 alt="媒体对象">
                        </a>

                        <div class="pull-left" style="width: 41%;margin-left: 10px;">
                            <h4 class="">小草</h4>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-success">确定</button>
                        <button type="button" class="btn btn-default">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
