<div class="panel panel-default">
    <div class="panel-heading"  style="background-color:#00a671; color: white">
		<div class="row">
			<span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
				class="col-xs-6 text-center">我的消息</span><span
				class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
		</div>
	</div>
	<div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="media" style="background-color: #cacdd3;">
                        <a class="pull-left" href="javascript: void (0);">
                            <img class="media-object" src="./img/newsAnnunciate/banner.png" width="65" height="65" style="vertical-align: middle;display: inline-block; cursor: pointer;"
                                 alt="媒体对象">
                        </a>
                        <div class="media-body" ui-sref="index.messagedetail" style="cursor: pointer; ">
                            <h4 class="media-heading clearfix" style="margin-top: 3%;">
                                <div class="pull-left">兰兰</div>
                                <div class="pull-right">12:00</div>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
