<style>
    .pull-left .tooltip.right .tooltip-arrow {
        border-right-color: #fff;
    }
    .pull-left .tooltip-inner {
        background-color: #fff;
        font-size: 16px;
        color: #333;
    }
    .pull-right .tooltip.left .tooltip-arrow {
        border-left-color: #9eea6a;
    }
    .pull-right .tooltip-inner {
        background-color: #9eea6a;
        font-size: 16px;
        color: #333;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading"  style="background-color:#00a671; color: white">
        <div class="row">
            <span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
                class="col-xs-6 text-center">消息详情</span><span
                class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 " style="background-color: #f5f5f5; padding-top: 15px;">
                    <div class="text-center">
                       草草
                    </div>
                    <div class="text-center text-muted">
                        12:00
                    </div>
                    <div style="min-height: 20px;">
                        <div class="clearfix" style="padding-bottom: 10px; padding-top: 10px;">
                            <a class="pull-left" href="#">
                                <img class="media-object tooltip-show" src="./img/newsAnnunciate/banner.png" width="65" height="65" style="vertical-align: middle;display: inline-block; cursor: pointer;"
                                     alt="媒体对象" data-toggle="tooltip" data-placement="right" title="你房子写我名字吧？">
                            </a>
                        </div>
                    </div>
                    <div style="min-height: 20px;">
                        <div class="clearfix" style="padding-bottom: 10px; padding-top: 10px;">
                            <a class="pull-right" href="#">
                                <img class="media-object tooltip-show" src="./img/newsAnnunciate/banner.png" width="65" height="65" style="vertical-align: middle;display: inline-block; cursor: pointer;"
                                     alt="媒体对象" data-toggle="tooltip" data-placement="left" title="好的">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () { $('.tooltip-show').tooltip('show');});
</script>