<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"  style="background-color:#00a671; color: white">
		<div class="row">
			<span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
				class="col-xs-6 text-center">我的订单</span><span
				class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
		</div>
	</div>
	<div class="panel-body">
		<div class="row text-center" style="width: 95%; margin-top: 10px">
			<div class="col-xs-3">
				<a class="btn">待付款</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">待收货</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">待评价</a>
			</div>
			<div class="col-xs-3">
				<a class="btn">已完成</a>
			</div>
		</div>
		<br>
		<div class="form-horizontal">
            <div class="clearfix">
                <div class="pull-left">待付款</div>
                <div class="pull-right">2016-02-13 11:33:04</div>
            </div>
			<div class="media">
				<a href="" class="pull-left"><img ng-src="./img/logo.png"
					class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">产品</h4>
					苹果采摘活动,每人免费3公斤
                    <dl>
                        <dt>订单总价:¥59</dt>
                    </dl>
				</div>
			</div>

		</div>
		 
	</div>