<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#00a671; color: white">
        <div class="row">
            <span class="col-xs-3" ng-click="$state.go('index.profile')">返回</span><span
                class="col-xs-6 text-center">档案位置</span><span
                class="col-xs-3 text-right" ng-click="$state.go('index.home')">首页</span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="pull-left">档案资产</span>
        <button type="button" class="btn btn-success pull-right" ng-click="editType=true">修改</button>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">资源名称</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.ASSETSNAME}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.ASSETSNAME}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">分类名称</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.CATALOGNAME}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.CATALOGNAME}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">状态</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.STATUS}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.STATUS}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">启用？</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.ENABLE}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.ENABLE}}"
                           ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">有子集？</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.HASCHILD}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.HASCHILD}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">有子集？</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.HASCHILD}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.HASCHILD}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">经度</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.LNG}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.LNG}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">纬度</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.LAT}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.LAT}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">规格</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.ASSETSSPEC}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.ASSETSSPEC}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">创建时间</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.CREATETIME}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.CREATETIME}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">型号</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.ASSETSMODEL}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.ASSETSMODEL}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">备注</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.REMARK}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.REMARK}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">视频播放地址</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.VIDEOURL}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.VIDEOURL}}" ng-show="editType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">监管机构</label>
                <div class="col-md-10">
                    <label class="control-label" style="font-weight: normal;text-align: left;" ng-hide="editType">
                        {{assets.SUPERVISE}}
                    </label>
                    <input class="form-control" type="text" placeholder="" ng-model="{{assets.SUPERVISE}}" ng-show="editType">
                </div>
            </div>
        </form>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <button class="btn btn-success btn-block" ng-disabled="userForm.$invalid"
                        ng-click="update();editType=false;">
                    <span class="glyphicon glyphicon-ok"></span> 保存
                </button>
            </div>
        </div>
    </div>
</div>
